body{
	background-image: url(Images/art1a.png);	/*to add background image*/
	/*background-repeat: no-repeat;*/				/*to avoid repetation of background image*/
	/*background-size: cover;*/					/*to fit the background image*/
	margin: 0px;								/*beacause body has default margin*/
}

.menus{
	display: flex;								/*to align menus in the same line*/
	float: right;								/*to align the menus on the right side of the website*/
}

.m{
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 15px;	
	color: white;
	background-color: black;	
	text-decoration: none;						/*in order to remove underline whule using a tag*/
	float: right;
}

.m1{
	color: red;
}

.m:hover{
	color: #3cc5ef;
	cursor: pointer;
}

nav{
	background-color: black;
	width: 100%;
	height: 64px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU BARS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#bar1,#bar2,#bar3{				/*menus but not to show in original site*/
	width: 22px;
	height: 1px;
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;  
	opacity: 0%;				/*not to show in unresponsive*/
}

#bars{
	display: flex;
	flex-direction: column;
	padding-top: 15px; 
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU BARS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.intro{
	/*display: flex;*/
	margin-top: 5px;
}


.art1{
	width: 1334px;
    height: 403px;
    margin-left: 6px;
}

#name{
	font-size: 301px;
    color: #04009a;
    margin-top: -439px;
    margin-left: 229px;
    color: #5047e0 ;
}
/*.art2{
	width: 314px;
    height: 299px;
    margin-left: -55px;
    margin-top: 169px;
}

.art3{
	width: 317px;
    height: 272px;
    margin-left: -87px;
}

.art4{
	width: 309px;
    height: 237px;
    margin-left: -342px;
    margin-top: 298px;
}

.art5{
	width: 317px;
    height: 272px;
    margin-left: -87px;
}

.art6{
	width: 317px;
    height: 272px;
    margin-left: -87px;
}
*/

.art2{
    width: 618px;
    height: 525px;
    padding-left: 17px;
    margin-top: 41px;	
}

.container{
    background: #e1f1dd;
    width: 690px;
    height: 525px;
    float: right;
    margin-top: 41px;
    margin-right: 8px;
}

#tagline{
	margin-left: 462px;
    font-size: 35px;
    margin-top: -50px;
    color: #d06adc;
}
