/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxTHIS IS FOR HOME PAGExxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

body{
	background-image: url(Images/art1a.png);	/*to add background image*/
	/*background-repeat: no-repeat*/;				/*to avoid repetation of background image*/
	/*background-size: cover;*/					/*to fit the background image*/
	margin: 0px;								/*beacause body has default margin*/
}

.menus{
	display: flex;								/*to align menus in the same line*/
	float: right;								/*to align the menus on the right side of the website*/
    transform: rotate(90deg);
}

.m{
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 15px;	
	color: white;
	background-color: black;	
	text-decoration: none;						/*in order to remove underline whule using a tag*/
	float: right;
	animation: size;
	animation-duration: .5s;
	position: relative;
}

.m1{
	color: red;
/*    transform: rotateX(1800deg);                             ANIMATIONS EDIT THIS LATERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
    transition : 3s*/
}

.m:hover{                                  /* in order to change color when mouse is hovered*/
	color: #3cc5ef;
	cursor: pointer;
}


nav{                                        /*for the navigation menu*/
	background-color: black;
	width: 100%;
	height: 64px;
}

@keyframes size {
	to{transform: rotateX(0deg);}
	from{transform: rotateX(90deg); transform-origin: bottom;}
}

#scroll{                                    /*this is for the old scroll photo in the homepage*/
    height: 630px;
    width: 819px;
    padding-top: 48px;
    padding-left: 246px;
}


#intro{                         /*this is for the small introduction on the home page */
    color: #b97a56;
    font-size: 34px;
    width: 321px;
    color: black;
    padding-left: 35px;
    margin-left: -46px;
    text-align: center;
}   

#intro1{                    /*this container is for frontpage intro*/
    margin-top: -595px;
    margin-left: 510px;
    font-size: 19px;
}

h1{
    margin-left: 7px;
    font-size: 61px;
    margin-top: 48px;
    height: 30px;
}

#home_button{                       /*this is for the "About me" button*/
    margin-left: 104px;
    text-decoration: none;
    background-color: #f0d9a5;
    color: black;
    border-radius: 50px;
    border: solid;
    padding: 4px;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END OF HOME PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/







/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx START OF CONTACT PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


legend{                    /* this is for legend "CONTACT US"*/
    font-size: 40px;
    color: #4f3cec;
}

form{                           /*this is for form*/
    font-size: 25px;
    color: #126e82;
    float: left;
    width: 750px;
    height: 374px;
    margin-top: 97px;
    margin-left:    19px;
    backdrop-filter: blur(3px);
}

.email{                             /*this is for the cointainer of my email address*/
    float : right;
    margin-right: 12px;
}

#con{                               /*this is to align the text "Contact"*/
    margin-right : 20px;
    margin-bottom : -40px;
    color : #4f3cec;
    font-size: 31px;
}

#my_id{                             /*this is for the email address i provided*/ 
    color : #126e82;
    font-size: 21px;
}
.box{
    width: 210px;
    height: 20px;
}

#logo{                                /* this is for photo in contact us*/
     height: auto; 
    /* height: 620px; */
    width: 567px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

#submit{                                    /*this is for submit button*/
    margin-left : 10px; 

}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx End OF CONTACT PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/






/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  THIS IS FOR CV  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#my_photo{                      /*This is id of my picture in cv page*/
    width: 114px;
    margin-left: 16px;
    margin-top: 6px;
    height: 109px;
    float: left;
    border-radius: 100%;
}

#my_name{               /*this is for my name*/
    margin-top: 15px;
    color: #2b5d90;
    font-size: 31px;
    font-weight: bold;
    /*backdrop-filter: blur(100px);*/
    background-color:#89c6fc;
    border: solid 1px;
    border-radius:50px;
    border-color: #89c6fc;
}
   
span{
    backdrop-filter: blur(5px);     /* this is for tagline*/
    color : #126e82;
}

#grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1px;
    margin-right: 15px;
}


#cv_about{              /* This is for Personal data,hobbies,language, skills and qualifications*/
    font-size: 44px;
    border: solid black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom:5px;
    margin-left: 10px; 
    width: 527px;
    backdrop-filter: blur(5px);

    box-shadow: 4px 4px;
    color: #5f7177;
    padding-left: 5px;
    padding-bottom: 5px;
}



.cv_q{                          /*this is for table head */
    font-size: 44px;
    font-weight: bold;
    color: #5f7177;
    backdrop-filter: blur(5px);
    text-align: left;
}

#cv_name{                       /*this is for overall information*/
    margin-left: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #26241f;
}


#photo_box{             /*this is for name nad tagline*/
    margin-left: 5px;
    margin-top: 15px;
}

td{
    background-color: #77acf1;
    font-size : 23px;
    text-align:center;  

}

        
table{                      
    margin-top: 10px;
    font-color: #393e46;
    height: 180px;
    backdrop-filter: blur(5px);
    border: solid black;
    box-shadow: 4px 4px;
    color: #5f7177;

}

#height{                /*this is photo and tagline cointainer*/
    height: 117px;
    display: flex;
}






/*....................................................START OF RESPONSIVE FOR HOME PAGE ....................................................*/

@media screen and (max-width:700px){


    body{
        margin:0px;
    }

    nav{
        background-color: black;
        width: 100%;
        height: 64px;
    }


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU BARS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


    #bar1,#bar2,#bar3{              /*menus but not to show in original site*/
        width: 22px;
        height: 1px;
        background-color: white;
        margin-top: 6px;
        margin-left: 7px;  
    }

    #bars{
        display: flex;
        flex-direction: column;
        padding-top: 15px; 
    }


    #bar1,#bar2,#bar3:hover{
            color: red;
        
    }
    .m{
        visibility :hidden;
    }
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU BARS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
    



    #name{                              /*this is for name*/ 
        font-size: 140px;
        color: #126e82;
        margin-top: 174px;
        margin-left: 24px;
        width: 398px;
        height: 198px;
        backdrop-filter: blur(3px);
    }

    #intro{ 
        color: #b97a56;
        margin-top: -31px;
        margin-left: 93px;
        font-size: 21px;
        width: 207px;
        backdrop-filter: blur(3px);
    }


}

/*.................................................... END OF RESPONSIVE FOR HOME PAGE ....................................................*/