/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxTHIS IS FOR HOME PAGExxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

body{
	background-image: url(Images/art1a.png);	/*to add background image*/
	/*background-repeat: no-repeat*/;				/*to avoid repetation of background image*/
	/*background-size: cover;*/					/*to fit the background image*/
	margin: 0px;								/*beacause body has default margin*/
}

.m{
	color: white;
	background-color: black;	
	text-decoration: none;						/*in order to remove underline whule using a tag*/
	position: relative;
    margin-right: 15px;

}

.m1{
	color: red;
}

.m:hover{                                  /* in order to change color when mouse is hovered*/
	color: #3cc5ef;
	cursor: pointer;
}


nav{                                        /*for the navigation menu*/
	background-color: black;
	width: 100%;
	height: 64px;
}

 @keyframes size {                                   /*this is for nav animation */
	to{transform: rotateX(0deg);}
	from{transform: rotateX(90deg); transform-origin: bottom;}
 }


 #checkbox-hide{                                     /*this is for hiding check box for menu */
    visibility: hidden; 
    z-index: 2;
 
}


#intro{                         /*this is for the small introduction on the home page */
    color: #b97a56;
    font-size: 34px;
    width: 100%;
    color: #4f3cec;
    /* padding-left: 35px;
    margin-left: -46px; */
    text-align: center;
}   


h1{
    font-size: 61px;
    margin-top: 78px;
    color: #2b5d90;
}

#menu{
    /* text-align: right; */
    float: right;
    animation-name: size;
	animation-duration: .5s;
} 
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END OF HOME PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/







/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx START OF CONTACT PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


legend{                    /* this is for legend "CONTACT US"*/
    font-size: 40px;
    color: #4f3cec;
}

#contact-grid{
    display: grid;
    grid-template-columns: auto auto;
}

form{                           /*this is for form*/
    font-size: 25px;
    color: #126e82;
    width: 750px;
    height: 374px;
     margin-top: 97px;
}

.email{                             /*this is for the cointainer of my email address*/
    float : right;
    margin-right: 12px;
}

#con{                               /*this is to align the text "Contact"*/
    margin-right : 20px;
    margin-bottom : -40px;
    color : #4f3cec;
    font-size: 31px;
}

#my_id{                             /*this is for the email address i provided*/ 
    color : #126e82;
    font-size: 21px;
}
.box{
    width: 210px;
    height: 20px;
}

#logo{                                /* this is for photo in contact us*/
     height: auto; 
    /* height: 620px; */
    width: 567px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

#submit{                                    /*this is for submit button*/
    margin-left : 10px; 
}

.reference{
    clear:both;
    float :left;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx End OF CONTACT PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/






/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Start of CV xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#my_photo{                      /*This is id of my picture in cv page*/
    width: 114px;
    margin-left: 16px;
    margin-top: 6px;
    height: 109px;
    float: left;
    border-radius: 100%;
}

#my_name{               /*this is for my name*/
    margin-top: 15px;
    color: #2b5d90;
    font-size: 31px;
    font-weight: bold;
    /*backdrop-filter: blur(100px);*/
    border: solid 1px;
    border-radius:50px;
    border-color: #89c6fc;
}
   
span{                                       /* this is for tagline*/
    color : #126e82;
}

 #grid{                                              /*this is for cv */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1px;
    margin-right: 15px;
    row-gap: 15px;
    margin-left: 5px;
}      

 #grid ul{                                    /*this is for ul*/
    padding: 0;
    margin: 0;
}


.cv_about{              /* This is for Personal data,hobbies,language, skills and qualifications*/
    font-size: 44px;
    border: solid black;
    font-weight: bold; 
    width: 87%;
    box-shadow: 4px 4px;
    color: #5f7177;
    padding-left: 5px;
    padding-bottom: 5px;
}



.cv_q{                          /*this is for table head */
    font-size: 44px;
    font-weight: bold;
    color: #5f7177;
    /* backdrop-filter: blur(5px); */
    text-align: left;
}

.cv_name{                       /*this is for overall information*/
    margin-left: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #26241f;
}


#photo_box{             /*this is for name nad tagline*/
    margin-left: 5px;
    margin-top: 15px;
}

td{
    background-color: #77acf1;
    font-size : 23px;
    text-align:center;  
}

 #overflow{                          /*this is to make table responsive */
     overflow-x: auto;
 }

        
 table{                              /*this is for qualification tabble */
    margin-top: 10px;
    color: #393e46;
    height: 180px;
    /* backdrop-filter: blur(5px); */
    border: solid black;
    box-shadow: 4px 4px;
    color: #5f7177;
    margin-left: 6px;
}

#height{                /*this is photo and tagline cointainer*/
    height: 117px;
    display: flex;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Start of CV xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx START OF PORTFOLIO PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.size-img{
    width: 542px;
}

.grid{                      /*this is for protfolio */
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 47px;
    column-gap: 100px;
    width: fit-content;
    margin-left: 9%;
    margin-top: 2%;
    margin-bottom: 2%;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END OF PORTFOLIO PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */





/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Start of Site Report xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

 .report-grid{                           /*this is for grid container*/
    display: grid;
    grid-template-columns: auto auto;
    /* border: solid rgb(253, 253, 253); */
    margin-top: 5px;
    width: 100%;
    background-color: rgb(7 23 56);
    margin: 0;
}

 .full{                              /*idk what this is figure it out urself :P */
    width: 72%;
    margin-left: 69px;
}

.port{
    width: 72%;
    margin-left: 69px;  
}

.cv{
    margin-left: 69px;
    width: 72%;
}

 .gallery-grid{                                     /* this is image galary part */
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 5px;
}

.gallery-grid img{
    width:  100%;
    height: 100%;
}


#report-container{
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color : #89c6fcb0;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END of Site Report xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/








/*....................................................START OF RESPONSIVE FOR HOME PAGE ....................................................*/

@media screen and (max-width:800px){


    body{
        margin:0px;
    }

    nav{
        background-color: black;
        width: 100%;
        height: 64px;
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU BARS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


    .bar1{              /*menus but not to show in original site*/
        width: 22px;
        height: 1px;
        background-color: white;
        margin-top: 6px;
        margin-left: 7px;  
    }

    #bars{                                 /*this is for hamburger icon */
        position: relative;
        top: -11px;
    }

     #menu{                                                      /*this is for menu in responsive view */
        transform-origin: 0% 0%;
        transform: translate(-100%,0);
        transition: transform 0s;
        text-align: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        animation: none;
    }

    #hamburger input:checked ~ #menu{                   /*this is for activation menu when value is 1 */
        transform: none ;
        transition-duration: .5s;
    }

    #checkbox-hide{                                     /*this is for hiding check box for menu */
        visibility: visible;
        opacity: 0%;
        position: relative;
        top: 18px;
        left: 1px;
        width: 26px;
        height: 24px;
   }

    .m{                                              /*this is for menus */
    height: 35px;
    margin: 0%;
    padding: 0%;
    position: relative;
    margin-top: -1px;
    width: 100%;
   }
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU BARS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Portfolio xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

   .grid{                                        /*this is for protfolio */
    display: grid;
    grid-template-columns: auto;
    margin: 0;
   }

   .size-img {                 /*this is for portfolio images */
    width: 311px;
    }


   /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Portfolio xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


   /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Contact xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

   

    form{                                    /*this is for form in contact page */
        width: 100%;
        margin: 0;

   }

    .emial{                                 /* this is for my email  */
       float: none;
   }

    #contact-grid{                          /* this is for contact */
        display: grid;
        grid-template-columns: auto;
   }

   .reference{                              /*this is for refrencing artist of the picture used in contact page */
        float: right;
        margin-right: 15px;
   }

   #logo{                                   /* this is for photo in contact us*/
    width: 100%;
    margin: 0px;;
}


   /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Contact xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx CV xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
   



   #grid{                                       /*this is for cv */
    display: grid; 
    grid-template-columns: auto; 
    width: 95%;
   }

   .cv_about{
       margin-left: 0%;
       margin-right: 0%;
       margin-top: 10%;
       
   }


    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx CV xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


                                

    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Site report xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
    .report-grid{
        display: grid;
        grid-template-columns: auto;
    }
        
    .gallery-grid{
        grid-template-columns: auto;
    }
    

    }
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx site report xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
    

/*.................................................... END OF RESPONSIVE FOR HOME PAGE ....................................................*/